.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background-color: #ffffff;
  border-bottom: 2px solid lightgray;
  flex: 1;
  width: 100%;
}

.insta-logo > img {
  object-fit: contain;
  width: 110px;
}

.insta-logo {
  display: flex;
  align-items: center;
}

.search > input {
  background-color: #fafafa;
  border: 2px solid #dbdbdb;
  padding: 5px;
  width: 210px;
  outline-width: 0;
  height: 17px;
  border-radius: 3px;
}

.search > input::placeholder {
  color: #a5a7aa;
  font-size: 16px;
  text-align: center;
}

/* #0095F6 */

.blue {
  background-color: #0095f6;
  border: none;
  border-radius: 9px;
  padding: 8px;
  outline-width: 0;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: medium;
}

.btns > button {
  margin-left: 10px;
}

.transparent {
  background-color: transparent;
  border: none;
  outline-width: 0;
  cursor: pointer;
  font-weight: 600;
  color: #0095f6;
  font-size: medium;
}

.btns2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns2 > .MuiSvgIcon-root {
  font-size: 26px !important;
  margin-left: 12px;
  cursor: pointer;
}

.avatar {
  margin-left: 10px;
  width: 30px;
  height: 40px;
}

.message {
  font-size: 22px;
}
